<div class="page-wrapper">
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="!sidebarOpen">
        <h2 class="logo" *ngIf="sidebarOpen">Library Member</h2>
        <nav>
          <ul>
            <li (click)="navigate('/dashboard')" >Home</li>
            <li (click)="navigate('/profile')">Profile</li>
            <li (click)="navigate('/search & browse')">Search & Browse</li>
            <li (click)="navigate('/borrow-transactions')" class="active">Borrow Tracking</li>
            <li (click)="navigate('/overdue')">Overdue and Fine</li>
          </ul>
        </nav>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </aside>

  <!-- Main Content -->
  <div *ngIf="customAlertMessage" class="custom-alert-overlay">
    <div class="custom-alert-box">
      <p>{{ customAlertMessage }}</p>
      <br>
      <button (click)="closeAlert()">OK</button>
    </div>
  </div>
  <div class="main-content">
    <header class="topbar">
      <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
      <span class="welcome"><strong>{{ memberName }}'s </strong>Borrow Tracking</span>
      <div class="view-switch">
        <button [class.active]="selectedTab==='active'" (click)="selectTab('active')">Active Borrow</button>
        <button [class.active]="selectedTab==='history'" (click)="selectTab('history')">Borrow History</button>
      </div>
    </header>

    <section class="transactions-list">
      <table *ngIf="selectedTab==='active'">
        <thead>
          <tr><th>Book ID</th><th>Borrow Date</th><th>Status</th><th>Action</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let tx of activeTransactions">
            <td>{{ tx.book.bookId }}</td>
            <td>{{ tx.borrowDate | date }}</td>
            <td>{{ tx.status }}</td>
            <td><button (click)="returnBook(tx.transactionID)">Return</button></td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="selectedTab==='history'">
        <thead>
          <tr><th>Book ID</th><th>Borrow Date</th><th>Return Date</th><th>Status</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let tx of transactions">
            <td>{{ tx.book.bookId }}</td>
            <td>{{ tx.borrowDate | date }}</td>
            <td>{{ tx.returnDate | date }}</td>
            <td>{{ tx.status }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>